@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --f-all: "Overpass", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--f-all);
}

body {
    background-color: hsl(216, 12%, 8%);
}

.container {
    min-height: 100vh;
    padding-block: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating-box {
    width: 450px;
    height: 450px;
    padding: 45px;
    border-radius: 2rem;
    background: radial-gradient(circle at 50% 0%, hsla(213, 20%, 18%, 0.4), hsl(220, 13%, 9%));
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* ERROR MESSAGE */

.error-message {
    position: fixed;
    top: -10%;
    background-color: hsl(218, 13%, 12%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    column-gap: 8px;
    border-radius: 2rem;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.03);
    transition: top 500ms;
}

.error-message-svg {
    width: 20px;
    height: 20px;
    color: hsl(25, 97%, 53%);
}

.error-message > p {
    color: white;
    text-transform: uppercase;
    transform: translateY(1px);
}

/* VISIBLE RATING COMPONENT CONTAINER */

.rating-box-visible {
    width: 100%;
    height: 100%;
}

.star {
    width: 55px;
    height: 55px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating-box-visible > h1 {
    margin-top: 30px;
    color: white;
    font-weight: 700;
}

.rating-box-visible > p {
    margin-top: 15px;
    color: hsl(217, 12%, 63%);
    line-height: 25px;
    font-weight: 400;
}

.rating-buttons {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rate-button {
    width: 55px;
    height: 55px;
    border: 0;
    border-radius: 2rem;
    font-size: 1.1rem;
    font-weight: 700;
    background-color: hsl(213, 19%, 18%);
    color: hsl(217, 12%, 63%);
    cursor: pointer;
    transition: background-color 300ms, color 300ms;
}

/* .rate-button:hover {
    background-color: hsl(25, 97%, 53%);
    color: hsl(216, 12%, 8%);
} */

.rate-button-hover-js {
    background-color: hsl(25, 97%, 53%);
    color: hsl(216, 12%, 8%);
}

.submit {
    margin-top: 25px;
    width: 100%;
    height: 50px;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 2rem;
    border: 0;
    background-color: hsl(25, 97%, 53%);
    cursor: pointer;
    text-transform: uppercase;
    color: hsl(216, 12%, 8%);
    transition: background-color 300ms;
}

.submit:hover {
    background-color: white;
}

.rate-button-js {
    background-color: white;
    color: hsl(216, 12%, 8%);
}

/* SUCCESS */

.success {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    row-gap: 55px;
    padding-top: 15px;
}

.success-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

.selected-number-span {
    background-color: hsl(213, 19%, 18%);
    padding: 8px 15px;
    border-radius: 1.5rem;
    color: hsl(25, 97%, 53%);
}

.success-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.success-bottom > h1 {
    font-weight: 700;
    color: white;
}

.success-bottom > p {
    text-align: center;
    color: hsl(217, 12%, 63%);
}

/* MEDIA QUERIES */

@media (max-width: 500px) {
    .rating-box {
        width: 95%;
        padding: 45px 25px;
    }
}

@media (max-width: 400px) {
    .rating-buttons {
       display: grid;
       grid-template-columns: repeat(5, 1fr);
       justify-content: space-between;
       column-gap: 10px;
    }
    .rate-button {
        width: auto;
        height: 100%;
        padding-block: 15px;
        border-radius: 3rem;
    }
}